include LICENSE
include README.md
include THIRD_PARTY_NOTICES.md
include requirements.txt
include pyproject.toml
include flash-attention.patch
recursive-include csrc *.h *.cuh *.cpp *.cu
recursive-include nanovllm/layers/for_moe/configs *.json
